{{#if displayPreviousPaginator}}
    <button class="md-paginator md-prev" {{action 'clickPrevious'}}>
        {{md-icon md-svg-icon="tabs-arrow"}}
    </button>
{{/if}}

<div class="md-header-items-container">
    <div class="md-header-items">
        <md-tabs-ink-bar class="{{inkBarClassName}}" style="{{inkBarStyle}}"></md-tabs-ink-bar>
        {{yield}}

    </div>
</div>

{{#if displayNextPaginator}}
    <button class="md-paginator md-next" {{action 'clickNext'}}>
        {{md-icon md-svg-icon="tabs-arrow"}}
    </button>
{{/if}}
